[user]
	email = bastien.delacroix@gl-events.com
	name = Bastien Delacroix

[alias]
  logo = log --oneline
	cm   = commit -m
	can  = commit --amend --no-edit
	co   = checkout
	cp   = cherry-pick
	lga  = log --graph --pretty=tformat:'%Cred%h%Creset -%C(cyan)%d %Creset%s %Cgreen(%an %cr)%Creset' --abbrev-commit --all
	preprod = !git checkout preprod && git fetch && git pull
	st = status
[safe]
	directory = /home/bdelacroix/Projets/eev2
	directory = /home/bdelacroix/Projets/eev2
