[user]
	email = bastien.delacroix@gl-events.com
	name = Bastien Delacroix

[alias]
	ca   = commit --amend
	can  = commit --amend --no-edit
	co   = checkout
	cm   = commit -m
	cp   = cherry-pick
	fp   = !git fetch && git pull origin HEAD
	lga  = log --graph --pretty=tformat:'%Cred%h%Creset -%C(cyan)%d %Creset%s %Cgreen(%an %cr)%Creset' --abbrev-commit --all
	logo = log --oneline
	pf   = push --force origin HEAD
	rc   = rebase --continue
	st   = status
[safe]
	directory = /home/bdelacroix/Projets/eev2
	directory = /home/bdelacroix/Projets/eev2
